# Ignore bin and obj directories
bin/
obj/

# Ignore database files
*.db-shm
*.db-wal

# Ignore IDE/editor specific files
.vs/

# Ignore temporary backup files
*~

# Ignore user-specific files
.vscode/settings.json
.idea/*
